// SPDX-License-Identifier: GPL-2.0
/*
 * Copyright (c) 2014 MediaTek Inc.
 * Author: Joe.C <yingjoe.chen@mediatek.com>
 *
 */

/dts-v1/;
#include "mt8127.dtsi"
#include <dt-bindings/phy/phy.h>

/ {
	model = "MediaTek MT8127 Amazon Fire 7 (ford, 2015)";
	compatible = "mediatek,mt8127";

	chosen {
		stdout-path = &mtk_fb;
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		mtk_fb: framebuffer@b7a00000 {
			compatible = "simple-framebuffer";
			width = <1024>;
			height = <600>;
			reg = <0 0xb7a00000 0 (1024 * 600 * 2)>;
			stride = <(1024 * 2)>;
			format = "r5g6b5";
		};
	};

	usb@11200000 {
		compatible = "mediatek,mt8127-musb", "mediatek,mtk-musb";
		reg = <0 0x11200000 0 0x1000>;
		interrupts = <GIC_SPI 32 IRQ_TYPE_LEVEL_LOW>;
		interrupt-names = "mc";
		phys = <&uport PHY_TYPE_USB2>;
		clocks = <&pericfg CLK_PERI_USB0>,
			 <&pericfg CLK_PERI_USB0_MCU>,
			 <&apmixedsys CLK_APMIXED_UNIVPLL>;
		clock-names = "main","mcu","univpll";
		dr_mode = "otg";
		usb-role-switch;

		connector {
			compatible = "usb-b-connector";
			type = "micro";
		};
	};

	uphy: t-phy@11210000 {
		compatible = "mediatek,mt8127-tphy",
		"mediatek,generic-tphy-v1";
		reg = <0 0x11210000 0 0x0800>;
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		uport: usb-phy@11210800 {
			reg = <0 0x11210800 0 0x0100>;
			clocks = <&apmixedsys CLK_APMIXED_UNIVPLL>;
			clock-names = "ref";
			#phy-cells = <1>;
		};
	};

	i2c0: i2c@11007000 {
		compatible = "mediatek,mt8127-i2c", "mediatek,mt6577-i2c";
		reg = <0 0x11007000 0 0x70>, <0 0x11000200 0 0x80>;
		interrupts = <GIC_SPI 44 IRQ_TYPE_LEVEL_LOW>;
		clocks = <&pericfg CLK_PERI_I2C0>, <&pericfg CLK_PERI_AP_DMA>;
		clock-names = "main", "dma";
		clock-div = <16>;
		clock-frequency = <400000>;
		mediatek,have-pmic;

		#address-cells = <1>;
		#size-cells = <0>;
	};

	i2c1: i2c@11008000 {
		compatible = "mediatek,mt8127-i2c", "mediatek,mt6577-i2c";
		reg = <0 0x11008000 0 0x70>, <0 0x11000280 0 0x80>;
		interrupts = <GIC_SPI 45 IRQ_TYPE_LEVEL_LOW>;
		clocks = <&pericfg CLK_PERI_I2C1>, <&pericfg CLK_PERI_AP_DMA>;
		clock-names = "main", "dma";
		clock-div = <16>;
		clock-frequency = <400000>;
		mediatek,have-pmic;

		#address-cells = <1>;
		#size-cells = <0>;
	};

	i2c2: i2c@11009000 {
		compatible = "mediatek,mt8127-i2c", "mediatek,mt6577-i2c";
		reg = <0 0x11009000 0 0x70>, <0 0x11000300 0 0x80>;
		interrupts = <GIC_SPI 46 IRQ_TYPE_LEVEL_LOW>;
		clocks = <&pericfg CLK_PERI_I2C2>, <&pericfg CLK_PERI_AP_DMA>;
		clock-names = "main", "dma";
		clock-div = <16>;
		clock-frequency = <400000>;
		mediatek,have-pmic;

		#address-cells = <1>;
		#size-cells = <0>;
	};

	memory {
		device_type = "memory";
		reg = <0 0x80000000 0 0x37900000>;
	};

	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		mtk_ram_console@83f00000 {
			reg = <0 0x83F00000 0 0x100000>;
		};
	};
};
