// SPDX-License-Identifier: GPL-2.0
/*
 * Copyright (c) 2014 MediaTek Inc.
 * Author: Joe.C <yingjoe.chen@mediatek.com>
 *
 */

/dts-v1/;
#include "mt8127.dtsi"
#include <dt-bindings/phy/phy.h>

/ {
	model = "MediaTek MT8127 Amazon Fire 7 (ford, 2015)";
	compatible = "mediatek,mt8127";

	chosen {
		stdout-path = &mtk_fb;
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		mtk_fb: framebuffer@b7a00000 {
			compatible = "simple-framebuffer";
			width = <1024>;
			height = <600>;
			reg = <0 0xb7a00000 0 (1024 * 600 * 2)>;
			stride = <(1024 * 2)>;
			format = "r5g6b5";
		};
	};

	phys: phy {
		#phy-cells = <0>;
	};

	usb@11200000 {
		compatible = "mediatek,mt8127-musb", "mediatek,mtk-musb";
		reg = <0 0x11200000 0 0x1000>;
		interrupts = <GIC_SPI 64 IRQ_TYPE_LEVEL_LOW>;
		interrupt-names = "mc";
		phys = <&phys>;
		dr_mode = "otg";
		clocks = <&system_clk>, <&system_clk>, <&univpll_clk>;
		clock-names = "main","mcu","univpll";
	};

	clocks {
		#address-cells = <2>;
		#size-cells = <2>;
		compatible = "simple-bus";
		ranges;

		univpll_clk: dummy48m {
			compatible = "fixed-clock";
			clock-frequency = <48000000>;
			#clock-cells = <0>;
		};
	};

	memory {
		device_type = "memory";
		reg = <0 0x80000000 0 0x37900000>;
	};

	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		mtk_ram_console@83f00000 {
			reg = <0 0x83F00000 0 0x100000>;
		};
	};
};
